html {
    --gray: #444;
    --gray-dark: #333;
    --gray-light: #f2f2f2;
}

body {
    font-family: 'Libre Franklin', Helvetica, Arial, san-serif;
}

h1 {
    color: #fff;
    font-weight: 500;
}

h2 {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-st];
}

.grid > * {
    grid-column: main;
}

header {
    background-color: var(--gray-dark);
}

.overview {
    background-color: var(--gray);
    color: #fff;
    padding: 4rem 0;
}