.back-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
  }

body {
    background-color: var(--gray);
    color: #fff;
    display: grid;
    font-family: 'Raleway', Helvetica, Arial, san-serif;
    grid-template-columns: 3rem;
    grid-template-rows: 4rem 4rem 474px 4rem;
    row-gap: 1px 20px;
    padding: 7rem 7rem 89px;
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end];
    grid-template-rows: auto;
    /*padding: 3rem 0;*/
}

h1 {
    font-size: 32pt;
}

h2 {
    font-size: 22pt;
}