html, body {
  height: 100%;
  width: 100%;
}
  
.back-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
  
body {
  background-color: var(--white);
  column-gap: 23px;
  display: grid;
  font-family: "Raleway", Helvetica, Arial, san-serif;
  grid-template-columns: repeat(15, 3rem);
  grid-template-rows: 30px 27px 58px 474px 3rem;
  row-gap: 5px;
  /*margin: 89px 7rem 0 7rem;*/
  padding: 89px 7rem 0 7rem;
}

.grid {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px)
    [main-end] minmax(1rem, 1fr) [full-end];
  grid-template-rows: auto;
  /*padding: 3rem 0;*/
}

h1 {
  color: black;
  font-size: 24pt;
  grid-column: 1 / span 5;
  grid-row: 1;
}

h2 {
  color: black;
  font-size: 16pt;
  grid-column: 1 / span 5;
  grid-row: 2;
}

p {
  color: hsl(0, 0%, 50%);
  font-size: 10pt;
  grid-column: 6 / span 9;
  grid-row: 1 / span 2;
}

/*START HAMBURGER MENU*/
/*Hamburger menu code by Daniel Hearn on CodePen*/
@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
#overlay-button {
  right: 2em;
  top: 3em;
  padding: 26px 11px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}
#overlay-button span {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color: lightgrey;
  position: relative;
  display: block;
  transition: all 0.2s ease-in-out;
}
#overlay-button span:before {
  top: -10px;
  visibility: visible;
}
#overlay-button span:after {
  top: 10px;
}
#overlay-button span:before,
#overlay-button span:after {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color: lightgrey;
  content: "";
  position: absolute;
  transition: all 0.2s ease-in-out;
}
#overlay-button:hover span,
#overlay-button:hover span:before,
#overlay-button:hover span:after {
  background: black;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked ~ #overlay {
  height: 100%;
  left: 0;
  overflow: scroll;
  position: absolute;
  top: 0;
  visibility: visible;
  width: 100%;
  z-index: 2;
}
input[type="checkbox"]:checked ~ #overlay::-webkit-scrollbar {
  display: none;
}
input[type="checkbox"]:checked ~ #overlay-button:hover span,
input[type="checkbox"]:checked ~ #overlay-button span {
  background: transparent;
}
input[type="checkbox"]:checked ~ #overlay-button span:before {
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}
input[type="checkbox"]:checked ~ #overlay-button span:after {
  transform: rotate(-45deg) translate(7px, -7px);
}
#overlay {
  background: white;
  height: 100%;
  margin: 0;
  position: absolute;
  visibility: hidden;
  z-index: 2;
}
#overlay.active {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  visibility: visible;
  width: 100%;
}
#overlay ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  overflow: scroll;
  padding: 0;
  text-align: center;
}
#overlay ul::-webkit-scrollbar {
  display: none;
}
#overlay ul li {
  padding: 1em;
}
#overlay ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
}
#overlay ul li a:hover {
  color: lightgrey;
}
/*END HAMBURGER MENU*/

/*START HORIZONTAL SCROLL*/
.app {
  display: grid;
  cursor: grab;
  grid-column: 1 / 16;
  grid-row: 4;
  overflow-y: hidden;
  overflow-x: scroll;
}
.app::-webkit-scrollbar {
  display: none;
}

.hs {
  display: grid;
  grid-gap: 23px;
  grid-row: 4;
  grid-template-columns: repeat(6, 561px);
  grid-template-rows: 464px;
  padding: 0;
}

.hs > li,
.item {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  background-color: lightgrey;
}
/*END HORIZONTAL SCROLL*/

/*START Overlay*/
.img-box {
  display: flex;
}

.img-box {
  position: relative;
  display: block;
  width: auto;
}

.img-box .img,
.img-box img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  transition: 0.5s ease;
}

.img-box .hovertext {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(0, 0, 0);
  transition: 0.5s ease;
  background-color: rgba(211, 211, 211, 75%);
  width: 100%;
  height: 100%;
}

.img-box:hover .hovertext {
  opacity: 1;
}

.img-box:hover .img {
  filter: opacity(40%);
}

.hovertext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*END Overlay*/

/*Single Page Website Page*/
.mainimg {
  grid-row: 4;
  grid-column: 1 / span 15;
}

.mainimg > img {
  height: auto;
  width: -webkit-fill-available;
}

.products {
  grid-row: 5;
  grid-column: 1/ 7;
}

.recipes {
  grid-row: 6;
  grid-column: 9 / 16;
}

.locations {
  grid-row: 7;
  grid-column: 1 / 7;
}

.mobilescroll {
  grid-row: 8;
  grid-column: 9 / 16;
}

.mobilemenu {
 grid-row: 9;
 grid-column: 1 / 7;
}

 .mobileproducts {
  grid-row: 10;
  grid-column: 9 / 16;
}