.back-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
  }

body{
    height: 100vh;
    width: 100vw;
      background-color: var(--white);
    display: grid;
    font-family: 'Raleway', Helvetica, Arial, san-serif;
    grid-template-columns: repeat(16, 3rem);
    grid-template-rows: 30px 27px 58px 474px 3rem;
    column-gap: 23px;
    row-gap: 5px;
    padding: 89px 7rem 0 7rem;
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end];
    grid-template-rows: auto;
    /*padding: 3rem 0;*/
}

h1 {
    font-size: 24pt;
    grid-column: 1 / span 5;
    grid-row: 1;
}

h2 {
    font-size: 16pt;
    grid-column: 1 / span 5;
    grid-row: 2;
}

p {
    font-size: 10pt;
    grid-column: 6 / span 9;
    grid-row: 1 / span 2;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    grid-column: 1 / span 16;
    grid-row: 3;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  
    .card {
      flex: 0 0 auto;
    }
  }

/*START HAMBURGER MENU*/
/*Hamburger menu code by Daniel Hearn on CodePen*/
@keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
  @-webkit-keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
  #overlay-button {
    right: 2em;
    top: 3em;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
  }
  #overlay-button span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: black;
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  #overlay-button span:before {
    top: -10px;
    visibility: visible;
  }
  #overlay-button span:after {
    top: 10px;
  }
  #overlay-button span:before,
  #overlay-button span:after {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: black;
    position: absolute;
    content: "";
    transition: all 0.2s ease-in-out;
  }
  #overlay-button:hover span,
  #overlay-button:hover span:before,
  #overlay-button:hover span:after {
    background: gray;
  }
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked ~ #overlay {
    visibility: visible;
  }
  input[type=checkbox]:checked ~ #overlay-button:hover span,
  input[type=checkbox]:checked ~ #overlay-button span {
    background: transparent;
  }
  input[type=checkbox]:checked ~ #overlay-button span:before {
    transform: rotate(45deg) translate(7px, 7px);
    opacity: 1;
  }
  input[type=checkbox]:checked ~ #overlay-button span:after {
    transform: rotate(-45deg) translate(7px, -7px);
  }
  #overlay {
    height: 100vh;
    width: 100vw;
    background: white;
    z-index: 2;
    visibility: hidden;
    position: fixed;
  }
  #overlay.active {
    visibility: visible;
  }
  #overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
  }
  #overlay ul li {
    padding: 1em;
  }
  #overlay ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
  }
  #overlay ul li a:hover {
    color: #333332;
  }
  /*END HAMBURGER MENU*/